*.swp
*.o
ui_*
moc_*
*.cfg
Makefile.duduregi
duduregi/config.js
duduregi/duduregi
duduregi/qwayland-server-*
duduregi/wayland-*protocol.c
duduregi/wayland-*server-protocol.h
duduregi/duduregiconfig.h
duduregi/duduregi.pro
duduregi/*.moc
duduregi/Makefile
duduregi/projectionmode_adaptor.cpp
duduregi/projectionmode_adaptor.h
duduregi/config.js.local
duduregi/qrc_*.cpp
genivi/web-api-vehicle/src/VehicleDataSimulator/Makefile
genivi/web-api-vehicle/src/VehicleDataSimulator/VehicleDataSimulator
genivi/web-api-vehicle/src/VehicleNetworkAdapter/VehicleNetworkAdapter
qt5-examples/eyes/Makefile
qt5-examples/eyes/eyes
qt5-examples/mocknavi/Makefile
qt5-examples/mocknavi/mocknavi
qt5-examples/mocknavi/qrc_shaders.cpp

