*.swp
*.o
ui_*
moc_*
*.cfg
config.log
Makefile
compositor/hmi/*/config.js
compositor/duduregi-compositor
compositor/qwayland-server-*
compositor/wayland-*protocol.c
compositor/wayland-*server-protocol.h
compositor/duduregiconfig.h
compositor/compositor.pro
compositor/*.moc
compositor/Makefile
compositor/projectionmode_adaptor.cpp
compositor/projectionmode_adaptor.h
compositor/*.local
compositor/hmi-*.qrc
compositor/qrc_*.cpp
clients/eyes/Makefile
clients/eyes/eyes
clients/mocknavi/Makefile
clients/mocknavi/mocknavi
clients/mocknavi/qrc_shaders.cpp
clients/mediaplayer/mediaplayer
clients/mediaplayer/qrc_mediaplayer.cpp
vt-handler/Makefile
vt-handler/duduregi-vt-handler
vt-handler/*.moc
vt-handler/*.pro
