<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/GhostCluster" version="1.0.0" viewmodes="maximized">
    <tizen:application id="GV3ySIINq7.GhostCluster" package="GV3ySIINq7" required_version="2.1"/>
    <content src="index.html"/>
    <icon src="GhostCluster.png"/>
    <name>GhostCluster</name>
    <tizen:privilege name="http://tizen.org/privilege/vehicle"/>
</widget>
