/*.centerText {
	position: absolute;

	margin-top: 103px;
	margin-left: 21px;
	width: 307px;
	display: -webkit-inline-box;
	-webkit-box-orient: horizontal;
}**/
body {
	margin: 0px;
	height: 768px;
	width: 1024px;
}

#velocity {
	//position: absolute;
	width: auto;
	font-size: 95px;
	font-weight: bold;
	color: white;
	font-family: "droid sans";
}

#velocityUnits {
	/*position: relative;
	//float: right;
	//width: 75px;*/
	margin-top: 63px;
	color: white;
	font-family: "droid sans";
	font-size: 15.5px;
	font-weight: bold;
	/*margin: 213px 70px*/
}

#mainbox {
	background: url("assets/tachometer-background.jpg") top left no-repeat;
}

#infoarea {
	background-color: #B1AFB0;
	width: 275px;
	height: 150px;
	display: table;
	border-collapse: collapse;
	border-spacing: 10px;
	margin-left: 15px;
	margin-top: 20px;
	border-top-color: #E89820;
	border-bottom-color: #E89820;
	border-top-width: 3px;
	border-bottom-width: 3px;
	border-top-style: solid;
	border-bottom-style: solid;
}

#velocityTable {
	margin-top: 110px;
	margin-left: 79px;
	width: 307px;
	display: table;
}

.row {
	display: table-row;
	margin: 0px auto;
}

.underborder {
	border-bottom: 2px solid black;
	height: auto;
}

.centerText {
	vertical-align: bottom;
	margin-top: 103px;
	margin-left: 21px;
	width: 307px;
}

.hbox {
	width: 100%;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
}

.vbox {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	width: 100%;
	height: 100%;
}

.leftAlignText {
	width: 50%;
	text-align: left;
	font-family: "droid sans";
	font-size: 20px;
	color: white;
	padding: 0px 10px;
	display: table-cell;
	font-weight: bold;
}
.rightAlignText {
	width: 50%;
	text-align: right;
	font-family: "droid sans";
	color: white;
	font-size: 20px;
	padding: 0px 10px;
	display: table-cell;
	font-weight: bold;
}

.middleText {
	vertical-align: middle;
}

.needleParent {
	position: relative;
	background: url("assets/dial-main-bg.png") top left no-repeat;
	height: 607px;
	width: 626px;
	//-webkit-border-radius: 360px;
}

.centerCircle {
    position: absolute;
	z-index: 140;
	margin-top: 110px;
	margin-left: 120px;
	background: url("assets/dial-main-center-bg.png") top left no-repeat;
	height: 390px;
	width: 382px;
	//-webkit-border-radius: 250px;
	//-webkit-box-shadow: 10px 0px 25px orange;
}

.needle {
	position: absolute;
}

.gauge {
	position: relative;
}

#wheel {
        -webkit-transform:rotate(0deg);
        -webkit-transform-origin: 50% 50%;
		-webkit-transition: all;
}

#iatNeedle {
	z-index: 110;
	background-color: red;
	height: 55px;
	width: 3px;
	left: 50%;
	bottom: 50%;
	-webkit-transform:rotate(143deg);
	-webkit-transform-origin: 50% 100%;
	-webkit-transition: all 1ms;
	-webkit-border-radius: 5px;
}

#loadNeedle {
	z-index: 110;
	background-color: red;
	height: 55px;
	width: 3px;
	left: 50%;
	bottom: 50%;
	-webkit-transform:rotate(270deg);
	-webkit-transform-origin: 50% 100%;
	-webkit-transition: all 1ms;
	-webkit-border-radius: 5px;
}

#throttleNeedle {
	z-index: 110;
	background-color: red;
	height: 55px;
	width: 3px;
	left: 50%;
	bottom: 50%;
	-webkit-transform:rotate(270deg);
	-webkit-transform-origin: 50% 100%;
	-webkit-transition: all 1ms;
	-webkit-border-radius: 5px;
}

#rpmNeedle {
	z-index: 110;
	background-color: #E89820;
	height: 258px;
	width: 17px;
	left: 51%;
	bottom: 51%;
	-webkit-transform-origin: 50% 100%;
	-webkit-transition: all 1ms;
	-webkit-border-radius: 17px;
}

#engineCoolantNeedle {
	z-index: 120;
	background-color: white;
	height: 288px;
	width: 7px;
	left: 50%;
	bottom: 50%;
	-webkit-transform:rotate(340deg);
	-webkit-transform-origin: 50% 100%;
	-webkit-transition: all 1ms;
	-webkit-border-radius: 5px;
}

#oilTempNeedle {
	z-index: 130;
	background-color: white;
	height: 288px;
	width: 7px;
	left: 50%;
	bottom: 50%;
	-webkit-transform:rotate(225deg);
	-webkit-transform-origin: 50% 100%;
	-webkit-transition: all 1ms;
	-webkit-border-radius: 5px;
}
