body {       
	margin: 0;
	padding: 0
}

#main {
	background-image:url('../images/hvac_bg.png');
	background-repeat:no-repeat;
	z-index: -1;
}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

#fan
{
    position: absolute;
    top: 3%;
    left: 38%;
    width: 7%;
    z-index:2;
    -webkit-animation-name:rotate;
    -webkit-animation-duration:0s; 
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:linear;
}

#fan-tmp
{
    position: absolute;
    top: 3%;
    left: 38%;
    width: 7%;
    z-index:2;
}

#fan-bar
{   
    position: absolute;
    top: 4%;
    left: 46%;
    width: 13%;
    z-index:2;
}

.arrow
{
    opacity:0;
    z-index:2;
    -webkit-transition-property: opacity;
    /* -webkit-transition-duration: 1s; */
}

.arrow#arrow_01
{
    position: absolute;
    top: 70%;
    left: 6%;
    width: 30%;
}

.arrow#arrow_02
{
    position: absolute;
    top: 34%;
    left: 27%;
    width: 30%;
}

#aircon
{
	position: absolute;
	top: 5%;
	left: 23%;
	width: 5%;
	opacity:0.7;
}

#aircon-text
{
	position: absolute;
	top: 6%;
	left: 29%;
	font-size:  25pt;
	color: white;
	font-weight:bold;
}

#auto-manual
{
	position: absolute;
	top: 5%;
	left: 5%;
	font-size: 25pt;
	color: white;
	font-weight:bold;
}

#temperature
{
	position: absolute;
	top: 5%;
	left: 66%;
	font-size: 25pt;
	color: white;
	font-weight:bold;
}
