[Unit]
Description=WindRiver Duduregi Launcher
Requires=dbus.service
Requires=X.service
After=dbus.service
After=X.service
After=wr-amb.service

[Service]
Type=Simple
ExecStart=/opt/windriver/duduregi/run-duduregi-with-ilm
Restart=always
RestartSec=5
TimeoutSec=5

[Install]
WantedBy=multi-user.target
