[Unit]
Description=WindRiver iPod Daemon
Requires=dbus.service
After=dbus.service

[Service]
Type=Simple
ExecStartPre=/opt/windriver/bin/cp-reset
ExecStart=/opt/windriver/bin/ipod-daemon-2 -tmm2014 /dev/i2c-1

[Install]
WantedBy=multi-user.target
